apiVersion: apps/v1 # Fixed from "version: v1"
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: my-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: meetchhatrala789/nodeapp:v122 # The CI will replace this
        ports:
        - containerPort: 80 # Note: If using the Nginx Dockerfile from earlier, this should be 80