apiVersion: v1   # FIXED (was version: v1)
kind: Service
metadata:
  name: app-service
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80     # Changed to match your Deployment containerPort
      nodePort: 30001    # Lowercase 'n' (nodePort)